@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.contributions-grid {
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, 10px);
  grid-template-rows: repeat(7, 10px);
  gap: 2px;
  background-color: white;
}

.contribution-day {
  width: 10px;
  height: 10px;
  background-color: #ebedf0; /* No contributions */
  border: 1px solid #bcc0c4; /* 20% darker */
  border-radius: 2px;
  transition: scale 0.2s ease;
}
.contribution-day:hover {
  scale: 200%;
}
.contribution-day.level-1 {
  background-color: #9be9a8; /* Low contributions */
  border: 1px solid #7cc886; /* 20% darker */
}

.contribution-day.level-2 {
  background-color: #40c463; /* Moderate contributions */
  border: 1px solid #33a351; /* 40% darker */
}

.contribution-day.level-3 {
  background-color: #30a14e; /* High contributions */
  border: 1px solid #267e3e; /* 60% darker */
}

.contribution-day.level-4 {
  background-color: #216e39; /* Very high contributions */
  border: 1px solid #1a562e; /* 80% darker */
}
